
.breadcrumbs(itemscope='', itemtype='http://data-vocabulary.org/Breadcrumb')
  | Вы здесь:&#32;
  a(href='#', itemprop='url')
    span(itemprop='title') Название сайта
  | 	 → 
  a(href='#', itemprop='url')
    span(itemprop='title') Название раздела
  | 	 → 
  span(itemprop='title') Название страницы
